*{
padding: 0;
margin: 0;

}
body {
background-image: url(negative.jpg);
height: 100vw;
background-size: cover;
background-position: center;
background-repeat: repeat;

}

#fire{
    font-family: 'Roboto', 'italic';
    font-size: 8vw;
    color: rgb(255, 119, 248);
    margin-left: 25vw;
    margin-top: 300px
}
.contact{
    font-family: "Antic Slab";
    min-width: 100px;
    max-width: 150px;
    flex-wrap: nowrap;
    color: rgb(255, 119, 248);
    margin-left: 25vw;
    backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    padding-right: 20px;
    margin-right: 500px;
    top: 170px;
        
}
