*{
    padding: 0;
    margin: 0;
    
    }

body {
    background-color: rgb(48, 53, 61); 
    height: 100vw;
    margin-bottom: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}
#nav a{
  color:rgb(208, 248, 250);
   z-index: 2;
   font-family: "Sansita Swashed";
   font-size: 20px;
   top: 20px;
   margin-left: 2vw;
   word-spacing: 3.5px;
   position: relative;
  }
    #hom:hover{
        color: bisque;
    } 
    #act:hover{
        color: rgb(82, 226, 219);
        animation: pulse; 
        transition-timing-function: ease-out;
    }
    #Cur:hover{
     color: rgb(201, 194, 107);
    }  
    
   #Ab:hover{
    color: rgb(234, 155, 245);
    z-index: 2;
   }
#copy:hover{
 color: rgb(252, 160, 99);
}
#thing-to-stick{
        font-family: 'Archivo';
        color: rgb(50, 78, 90);
        font-size: 9vw;
        font-weight: bolder;
        z-index: 1000;
        margin-left: 7vw;
        margin-top: 200px;
        position: sticky;
        top: 0px;
    }
#sub1{
        font-family: 'Roboto';
        margin-left: 7vw;
        font-size: 7vw;
        z-index: 0;
        max-width: 900px;
        margin-top: 210px;
        color:rgb(255, 255, 255);
}
    #sub{
      font-family: 'Roboto';
       margin-left: 7vw;
       max-width: 900px;
       margin-top: 200px;
       color:rgb(249, 250, 252);


    }

#paragraph1{
    max-width: 850px;
    font-size: 14px;
    font-weight: lighter;
    display: flex;
    min-width: 25px;
    display: inline-block;
    opacity: 100%;
    color:rgb(249, 250, 252);
    z-index: 0;
    text-align: justify;
    top: 400px;
    margin-left: 15vw;
    margin-right: 90px;
    position: relative;
    word-spacing: 2.5px;
    line-height: 45px;
    }
 #prince2{
        max-width: 850px;
        display: inline-block;
        display: flex;
        font-size: 14px;
        z-index: 0;
        font-weight: lighter;
        opacity: 100%;
        color:rgb(249, 250, 252);
        text-align:justify;
        top: 430px;
        margin-left: 15vw;
        margin-right: 90px;
        position: relative;
        word-spacing: 2.5px;
        line-height: 45px;
        }
    #prince3{
        max-width: 850px;
        display: block;
        display: flex;
        font-size: 14px;
        font-weight: lighter;
        z-index: 0;
        opacity: 100%;
        text-align: justify;
        color:rgb(249, 250, 252);
        top: 460px;
        margin-left: 15vw;
        margin-right: 90px;
        position: relative;
        word-spacing: 2.5px;
        line-height: 45px;
            }
    #prince4{
            max-width: 850px;
            display: inline-block;
            display: flex;
            z-index: 0;
                opacity: 100%;
                font-size: 14px;
                font-weight: lighter;
                text-align: justify;
                color:rgb(249, 250, 252);
                top: 490px;
                margin-left: 14vw;
                margin-right: 90px;
                position: relative;
                word-spacing: 2.5px;
                line-height: 45px;
                    }
        #prince5{
            max-width: 850px;
            display: inline-block;
            z-index: 0;
            display: flex;
            opacity: 100%;
            font-size: 14px;
            font-weight: lighter;
            text-align: justify;
            color:rgb(249, 250, 252);
            top: 520px;
            margin-left: 15vw;
            margin-right: 90px;
            position: relative;
            word-spacing: 2.5px;
            line-height: 45px;
                            }
        #prince6{
        max-width: 850px;
        display: inline-block;
            display: flex;
        opacity: 100%;
            z-index: 0;
        font-size: 14px;
        font-weight: lighter;
        text-align: justify;
        color:rgb(249, 250, 252);
        top: 550px;
        margin-left: 15vw;
        margin-right: 90px;
        position: relative;
        word-spacing: 2.5px;
        line-height: 45px;
                }
        #prince7{
        max-width: 850px;
        display: inline-block;
            display: flex;
        opacity: 100%;
            z-index: 0;
        font-size: 14px;
        font-weight: lighter;
        text-align: justify;
        top: 580px;
         color:rgb(249, 250, 252);
         margin-left: 15vw;
        margin-right: 90px;
        position: relative;
        word-spacing: 2.5px;
        line-height: 45px;
                 }
        #prince8{
        max-width: 850px;
        display: inline-block;
            display: flex;
        z-index: 0;
        opacity: 100%;
        font-size: 14px;
        font-weight: lighter;
        text-align: justify;
        color:rgb(249, 250, 252);
        top: 610px;
        margin-left: 15vw;
         margin-right: 90px;
        position: relative;
        word-spacing: 2.5px;
        line-height: 45px;
                }
        #prince9{
            max-width: 850px;
            display: inline-block;
            display: flex;
            z-index: 0;
            opacity: 100%;
            font-size: 14px;
            font-weight: lighter;
            text-align: justify;
             color:rgb(249, 250, 252);
            top: 640px;
            margin-left: 15vw;
            margin-right: 90px;
            position: relative;
            word-spacing: 2.5px;
            line-height: 45px;
                }
         #prince10{
            max-width: 850px;
            display: inline-block;
             display: flex;
            z-index: 0;
            font-size: 14px;
            font-weight: lighter;
            opacity: 100%;
            text-align: justify;
            color:rgb(249, 250, 252);
         top: 670px;
        margin-left: 15vw;
        margin-bottom: 400px;
            margin-right: 90px;
            position: relative;
            word-spacing: 2.5px;
            line-height: 45px;
                 }
   #box{
              height: 600px;
              opacity: 100%;
              bottom: 200px;

          }       
