*{
    padding: 0;
    margin: 0;
    
    }

body {
    background-color: rgb(180, 170, 140);
    height: 100%;
    width: auto;
    display: unset;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 600px;
}
#nav a{
    color:rgb(208, 248, 250);
     z-index: 2;
     font-family: "Sansita Swashed";
     font-size: 20px;
     top: 20px;
     margin-left: 2vw;
     word-spacing: 3.5px;
     position: relative;
    }
      #hom:hover{
          color: bisque;
      } 
      #act:hover{
          color: rgb(82, 226, 219);
          animation: pulse; 
          transition-timing-function: ease-out;
      }
      #Cur:hover{
       color: rgb(201, 194, 107);
      }  
      
     #Ab:hover{
      color: rgb(234, 155, 245);
      z-index: 2;
     }
  #copy:hover{
   color: rgb(252, 160, 99);
  }
#title{
    margin-left: 5vw;
    max-width: 100px;
    text-align: justify;
    flex-wrap: wrap;
    z-index: -4
    font-family: "DM Serif";
    font-weight: bolder;
    height: 200px;
margin-top: 210px;
font-size: 27vw;
position: sticky;
    top: -490px;
    
}
#paragraph1{
    max-width: 920px;
    font-size: 16px;
    font-weight: lighter;
    min-width: 25px;
    z-index: 999;
    display: inline-block;
    opacity: 100%;
    color:rgb(63, 105, 105);
    display: flex;
    text-align: justify;
    top: 680px;
    margin-left: 33vw;
    margin-right: 20px;
    position: relative;
    word-spacing: 2.5px;
    line-height: 45px;
    }
 #prince2{
        max-width: 920px;
        display: inline-block;
        display: flex;
        font-size: 16px;
        font-weight: lighter;
        opacity: 100%;
        color:rgb(63, 105, 105);
        text-align:justify;
        top: 710px;
        margin-left: 33vw;
        margin-right: 20px;
        position: relative;
        word-spacing: 2.5px;
        line-height: 45px;
        }
    #prince3{
        max-width: 920px;
        display: block;
        font-size: 16px;
        font-weight: lighter;
        opacity: 100%;
        text-align: justify;
        color:rgb(255, 243, 216);
        top: 740px;
        margin-left: 33vw;
        margin-right: 20px;
        position: relative;
        word-spacing: 2.5px;
        line-height: 45px;
            }
    #prince4{
            max-width: 920px;
            display: inline-block;
                opacity: 100%;
                font-size: 16px;
                font-weight: lighter;
                text-align: justify;
                color:rgb(255, 243, 216);
                top: 770px;
                margin-left: 33vw;
                margin-right: 20px;
                position: relative;
                word-spacing: 2.5px;
                line-height: 45px;
                    }
        #prince5{
            max-width: 920px;
            display: inline-block;
            opacity: 100%;
            font-size: 16px;
            font-weight: lighter;
            text-align: justify;
            color: rgb(255, 243, 216);
            top: 800px;
            margin-left: 33vw;
            margin-right: 20px;
            position: relative;
            word-spacing: 2.5px;
            line-height: 45px;
                            }
            #prince6{
                max-width: 920px;
                display: inline-block;
                opacity: 100%;
                font-size: 16px;
                font-weight: lighter;
                text-align: justify;
                 color: rgb(255, 243, 216);
                top: 830px;
                margin-left: 33vw;
                margin-right: 20px;
                position: relative;
                word-spacing: 2.5px;
                line-height: 45px;
                                                } 
                                                #prince7{
                                                    max-width: 920px;
                                                    display: inline-block;
                                                    opacity: 100%;
                                                    font-size: 16px;
                                                    font-weight: lighter;
                                                    text-align: justify;
                                                     color: rgb(255, 243, 216);
                                                    top: 860px;
                                                    margin-left: 33vw;
                                                    margin-right: 20px;
                                                    position: relative;
                                                    word-spacing: 2.5px;
                                                    line-height: 45px;
                                                                                    }  
                                                    #prince8{
                                                    max-width: 920px;
                                                    display: inline-block;
                                                    opacity: 100%;
                                                    font-size: 16px;
                                                    font-weight: lighter;
                                                    text-align: justify;
                                                    color: rgb(255, 243, 216);
                                                    top: 890px;
                                                    margin-left: 33vw;
                                                    margin-right: 20px;
                                                    position: relative;
                                                    word-spacing: 2.5px;
                                                    line-height: 45px;
                                                                 }
                                                    #prince9{
                                                    max-width: 920px;
                                                    display: inline-block;
                                                    opacity: 100%;
                                                    font-size: 16px;
                                                    font-weight: lighter;
                                                    text-align: justify;
                                                    color: rgb(255, 243, 216);
                                                    top: 920px;
                                                    margin-left: 33vw;
                                                    margin-right: 20px;
                                                    position: relative;
                                                    word-spacing: 2.5px;
                                                    line-height: 45px;
                                                             } 
                                                    #prince10{
                                                    max-width: 920px;
                                                    display: inline-block;
                                                     opacity: 100%;
                                                    font-size: 16px;
                                                    font-weight: lighter;
                                                    text-align: justify;
                                                    color: rgb(255, 243, 216);
                                                    top: 950px;
                                                    margin-left: 33vw;
                                                    margin-right: 20px;
                                                     position: relative;
                                                    word-spacing: 2.5px;
                                                    line-height: 45px;
                                                    }
                                                    
                                                    #prince11{
                                                        max-width: 920px;
                                                        display: inline-block;
                                                         opacity: 100%;
                                                        font-size: 16px;
                                                        font-weight: lighter;
                                                        text-align: justify;
                                                        color: rgb(255, 243, 216);
                                                        top: 980px;
                                                        margin-left: 33vw;
                                                        margin-right: 20px;
                                                         position: relative;
                                                        word-spacing: 2.5px;
                                                        line-height: 45px;
                                                    }
                                                    #prince12{
                                                        max-width: 920px;
                                                        display: inline-block;
                                                         opacity: 100%;
                                                        font-size: 16px;
                                                        font-weight: lighter;
                                                        text-align: justify;
                                                        color:rgb(255, 243, 216);
                                                        top: 1010px;
                                                        margin-left: 33vw;
                                                        margin-right: 20px;
                                                         position: relative;
                                                        word-spacing: 2.5px;
                                                        line-height: 45px;
                                                    }
                                                        #prince13{
                                                            max-width: 920px;
                                                            display: inline-block;
                                                             opacity: 100%;
                                                            font-size: 16px;
                                                            font-weight: lighter;
                                                            text-align: justify;
                                                            color: rgb(255, 243, 216);
                                                            top: 1040px;
                                                            margin-left: 33vw;
                                                            margin-right: 20px;
                                                             position: relative;
                                                            word-spacing: 2.5px;
                                                            line-height: 45px;                                                                                                  
                                                        }
                                                        #prince14{
                                                            max-width: 920px;
                                                            display: inline-block;
                                                             opacity: 100%;
                                                            font-size: 16px;
                                                            font-weight: lighter;
                                                            text-align: justify;
                                                            color: rgb(255, 243, 216);
                                                            top: 1070px;
                                                            margin-left: 33vw;
                                                            margin-right: 20px;
                                                             position: relative;
                                                            word-spacing: 2.5px;
                                                            line-height: 45px;    
                                                        }
                                                                #prince15{
                                                                    max-width: 920px;
                                                                    display: inline-block;
                                                                     opacity: 100%;
                                                                    font-size: 16px;
                                                                    font-weight: lighter;
                                                                    text-align: justify;
                                                                    color: rgb(255, 243, 216);
                                                                    top: 1100px;
                                                                    margin-left: 33vw;
                                                                    margin-right: 20px;
                                                                     position: relative;
                                                                    word-spacing: 2.5px;
                                                                    line-height: 45px;
                                                            } 
                                                            #prince16{
                                                                max-width: 920px;
                                                                display: inline-block;
                                                                 opacity: 100%;
                                                                font-size: 16px;
                                                                font-weight: lighter;
                                                                text-align: justify;
                                                                color: rgb(255, 243, 216);
                                                                top: 1130px;
                                                                margin-left: 33vw;
                                                                margin-right: 20px;
                                                                 position: relative;
                                                                word-spacing: 2.5px;
                                                                line-height: 45px;}

                                                                #prince17{
                                                                    max-width: 920px;
                                                                    display: inline-block;
                                                                     opacity: 100%;
                                                                    font-size: 16px;
                                                                    font-weight: lighter;
                                                                    text-align: justify;
                                                                    color: rgb(255, 243, 216);
                                                                    top: 1160px;
                                                                    margin-left: 33vw;
                                                                    margin-right: 20px;
                                                                     position: relative;
                                                                    word-spacing: 2.5px;
                                                                    line-height: 45px;
                                                        }     
                                                        #prince18{
                                                            max-width: 950px;
                                                            display: inline-block;
                                                             opacity: 100%;
                                                            font-size: 16px;
                                                            font-weight: lighter;
                                                            text-align: justify;
                                                            color: rgb(255, 243, 216);
                                                            top: 1190px;
                                                            margin-left: 33vw;
                                                            margin-right: 20px;
                                                             position: relative;
                                                            word-spacing: 2.5px;
                                                            line-height: 45px;
                                                    }     
                                                               
                                                                                                                                                                                       
