*{
    padding:0;
    margin:0;
 }
body, html {
   height: 100%;
   overflow-x: hidden;
 }
 #nav a{
  color:rgb(208, 248, 250);
  z-index: 4;
  font-family: "Inter";
  font-weight: bolder;   
  font-size: 20px;
  top: 20px;
  margin-left: 2vw;
  word-spacing: 3.5px;
  position: relative; 
  }
  #home:hover{
      color: bisque;
  } 
  #act:hover{
      color: rgb(82, 226, 219);
      animation: pulse; 
      transition-timing-function: ease-out;
  }
  #Cur:hover{
   color: rgb(201, 194, 107);
  }  
  
 #Ab:hover{
  color: rgb(234, 155, 245);
  z-index: -1;
 }
#copy:hover{
color: rgb(252, 160, 99);
}  
.parallax {
    background-image: url(img/GuestCurate1+.jpg);

    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    opacity: 95%;
}
@media only screen and (max-width: 600px) {
    .parallax {
      background-attachment: scroll;
    }
  }
.container1{
    background-image: url(img/ReplaceCurate.jpg);

    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
}
@media only screen and (max-width: 600px) {
    .container1 {
      background-attachment: scroll;
    }

}
#podcast{
    height: clamp(200px, 47vw, 900px);
    width: auto;
    position:relative;
    top: 900px;
    opacity: 85%;
    margin-left: 150px;
  
}

.container2{
    background-image: url(img/FitzLibreria1.png);

    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
    }
    @media only screen and (max-width: 600px) {
        .container2 {
          background-attachment: scroll;
        }}
.container2{
    background-image: url(img/FitzLibreria1.png);

    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
}
@media only screen and (max-width: 600px) {
    .container2 {
      background-attachment: scroll;
    }}

.heading{
    font-family: "Sansita Swashed";
    text-align: sticky;
    font-size: 6vw;
    color:aliceblue;
    position:relative;
    margin-top: 80px;
    margin-left: 30vw;

}
.container3{
    background-image: url(img/BaanResized.jpg); 
    height: 65%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 600px) {
    .container3 {
      background-attachment: scroll;
    }}
   
.parallax4{
    background-image: url(img/BaanResized3.jpg);

    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 600px) {
    .parallax4 {
      background-attachment: scroll;
    }}
    
#bio{
    max-width: 600px;
    min-width: 25px;
opacity: 100%;
color:aliceblue;
font-weight: bolder;
display: flex;
text-align: justify;
top: 100px;
margin-left: 15vw;
margin-right: 90px;
position: relative;
word-spacing: 1.5px;
line-height: 25px;
}
#bio2{
    max-width: 600px;
    display: block;
    font-weight: bolder;
    opacity: 100%;
    color:aliceblue;
    text-align:justify;
    top: 150px;
    margin-left: 15vw;
    margin-right: 90px;
    position: relative;
    word-spacing: 1.5px;
    line-height: 25px;
    }
    @media only screen and (max-width: 600px) {
        #bio2 {
          display: none;
        }}
#bio3{
    max-width: 600px;
    display: block;
    font-weight: bolder;
    opacity: 100%;
    text-align: justify;
    color:aliceblue;
    top: 190px;
    margin-left: 15vw;
    margin-right: 90px;
    position: relative;
    word-spacing: 1.5px;
    line-height: 25px;
        }
        @media only screen and (max-width: 600px) {
            #bio3 {
              display: none;
            }}
