*{
    padding:0;
    margin:0;
 }
body, html {
     height: 100%;
 }
.parallax {
    background-image: url(/Users/patrickbutler/Desktop/Portfolio/Libreria/img/GuestCurate1+.jpg);

    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 95%;
}
.container1{
    background-image: url(/Users/patrickbutler/Desktop/Portfolio/Libreria/img/ReplaceCurate.jpg);

    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;

}
#podcast{
    height: 700px;
    width: auto;
    position:absolute;
    top: 1200px;
    opacity: 70%;
    margin-left: 150px;
}
.container2{
    background-image: url(/Users/patrickbutler/Desktop/Portfolio/Libreria/img/FitzLibreria1.png);

    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
}
.container2+{
    background-image: url(/Users/patrickbutler/Desktop/Portfolio/Libreria/img/FitzLibreria.jpg);

    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
}

#logo{
    font-size: 150px;
    color:aliceblue;
    top: 100px;
    margin-left: 500px;
    position:relative;
    display: inline-block;
}
.container3{
    background-image: url(/Users/patrickbutler/Desktop/Portfolio/Libreria/img/BaanResized.jpg); 
    height: 65%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
   
.parallax4{
    background-image: url(/Users/patrickbutler/Desktop/Portfolio/Libreria/img/BaanResized3.jpg);

    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#bio{
display: inline-block;
opacity: 100%;
color:aliceblue;
margin-left: 230px;
top: 275px;
position: relative;
word-spacing: 1.5px;
line-height: 25px;
}

